@{
    ViewData["Title"] = "Контакты";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center">
    Адрес: ул. Пушкина, д. 12<br/>
    Телефон: +7 999 146 64 64<br />
    Email: ylPyshkina@gmail.com<br />
    Режим работы: 8:00 - 10:00<br />
</p>
